* {
    background: #6c63ff;
}
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    list-style: none;
}

.item {
    padding: 30px;
}